html {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgb(39, 35, 49) 0%, rgb(24, 23, 24) 100%);
}

body {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: #ff5b00c9;
}

div {
    height: 4em;
    width: 4em;

    border: solid 16px #f3f3f3;
    border-top: solid 16px #ff5b00c9;
    border-radius: 50%;
}

.loader {
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

button {
    width: 10em;
    height: 3em;
    
    margin-top: 2em;
    
    border: none;
    
    cursor: pointer;

    background-color: #ff5b00c9;
    font-family: sans-serif;
    font-weight: 400;
    color: #fff;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}